* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5vw;
}
ul {
    list-style: none;
}
.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5vw;
}
body , html {
    overflow-x: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display:flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(30, 2, 2);
}
.navbar .logo img {
    height: 50px;
    width: 50px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0px 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5vw;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url('img/cafeHeader2.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    margin-top: 70px;
}

.header-content {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.header-content h2 {
    font-size: 4vmin;
    margin-top: 70%;
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
}
main {
    margin-top: 90px;
}
.line {
    width: 150px;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 15vmin;
    margin-top: 20px;
    color: whitesmoke;
}

.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Seccion Sobre nosotros*/
section {
    width: 80%;
    margin: 80px auto;
    font-family: 'Dancing Script', cursive;
}
.title {
    text-decoration:solid ;
    text-align: center;
    font-size: 4vmin;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img {
    width: 100%;
}
.aboutUs .row {
    margin-top: 50px;
}
h4 {
    font-size: 6vmin;
    color: rgb(51, 3, 3);
    margin: 20px auto;
}
p {
    color: rgb(30, 2, 2);
    padding: 0px 40px;
    font-size: 3vmin;
}
.aboutUs .ctn {
    margin-top: 20px;
}
.ourMenu {
    width: 100%;
    height: 100vh;
    background-image: url('img/interiorBlur2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.ourMenu-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ourMenu-content h2 {
    font-size: 7vmin;
}
.ourMenu-content .line {
    margin-bottom: 50px;
}
.ourMenu-content .ctn {
    margin-top: 40px;
}
.ourMenu-content p {
    color: white;
}
.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
.promos .promo-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.promos p {
    font-size: 24px;
}
.promo-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h2 {
    font-size: 7vmin;
    color: #484872;
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin-left: -100px;
}
.contacto p {
    font-size: 24px;
}
.form-col {
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px;  
}
input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(30, 2, 2); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(51, 3, 3); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: rgb(51, 3, 3); 
    border-color: rgb(51, 3, 3); 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: rgb(51, 3, 3); 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
/* Dispositivos moviles max-width:850px */ 
@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(51, 3, 3);
        margin-top: -900px;
        transition: all 0.5s ease;
    } 
    .mobile-menu {
        margin-top: 0px; 
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;

    }
    /* Seccion sobre nosotros */
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    .promo-gallery {
        justify-content: center;
        align-items: center;
    }
    .promo-gallery img {
        width: 90%;
    }
    .footer {
        padding: 10px;
    }
}

/* Animaciones*/
html {
    scroll-behavior: smooth;
}
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color:#fc036b;
    box-shadow: 2px 2px 5px black;
}
